@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.main-container {
		@apply container mx-auto px-4;
	}
	.nav-link {
		@apply mb-4 text-2xl font-semibold lg:mr-8 lg:mb-0 lg:text-base lg:font-medium;
	}
	.input-field {
		@apply w-full border border-black p-3;
	}
	.input-field-disabled {
		@apply w-full border border-slate-400 bg-slate-100 p-3 text-slate-500;
	}
	.base-skeleton {
		@apply animate-pulse rounded-sm bg-slate-400;
	}
	.base-skeleton-light {
		@apply rounded-sm bg-slate-200;
	}
}
@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
